**Internal Package Counts**

| Package        |        Count |
| :---           |         ---: |
{{- if isEmpty .Internal }}
|       -        |      0       |
{{- else }}
{{- range .Internal }}
| {{- .Package }} | {{- .Count }} |
{{- end }}
{{- end }}

**External Package Counts**

| Package        |        Count |
| :---           |         ---: |
{{- if isEmpty .External }}
|       -        |      0       |
{{- else }}
{{- range .External }}
| {{- .Package }} | {{- .Count }} |
{{- end }}
{{- end }}
